body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; /* Bleu clair */
    color: #333;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #007BFF; /* Bleu vif */
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

article {
    background-color: white; /* Fond blanc pour les articles */
    padding: 15px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.blog-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.share-section {
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #007BFF; /* Bleu vif */
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}


